{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

{% for device in devices %}
<p>Device ID: {{device.get_id}}</p>
{% endfor %}
{% if device_id %}
<p>New device: {{device_id}}</p>
{% endif %}


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#register_modal">
  Register Device
</button>

<!-- Modal -->
<div class="modal fade" id="register_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Register your new SEADS device</h4>
      </div>
      <div class="modal-body">
		<form method="post">
 		{% csrf_token %}
		<p><input type="text" class="span3" name="device_id" placeholder="123456" value=""></p>
		<p><button type="submit" class="btn btn-success" value=1 name="register">Register!</button></p>
		</form>
      </div>
     </div>
    </div>

{% endblock %}