{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<html>
<head>
	<title>SEADS Weekly News</title>

<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>New Post</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Post Title">Post Tile</label>  
  <div class="col-md-4">
  <input id="Post Title" name="Post Title" type="text" placeholder="Title" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="body">Post Body</label>
  <div class="col-md-4">                     
    <textarea class="form-control input-md" required="" id="body" name="body" type="text" placeholder="Enter body of post"></textarea>
  </div>
</div>

<!-- Text input
<div class="form-group">
  <label class="col-md-4 control-label" for="category">Category</label>  
  <div class="col-md-4">
  <input id="category" name="category" type="text" placeholder="category" class="form-control input-md">
    
  </div>
</div>-->

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="button1id"></label>
  <div class="col-md-8">
    <button type="submit" id="button1id" name="button1id" class="btn btn-success">Save</button>
    <button id="button2id" name="button2id" class="btn btn-danger" onclick="window.location='{%url 'seadssite.views.WeeklyNews'%}'">Cancel</button>
  </div>
</div>

</fieldset>
</form>
</html>
{% endblock %}
