{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<div class="container-fluid">
         <div class="row redtop">
            <img src="{% static 'images/seadsLogo.png' %}" class="img-responsive center">
            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
               <form name="login_form" class="form-horizontal" action="{% url 'django.contrib.auth.views.login' %}" method="post">
               	{% csrf_token %}
                  <div class="form-group">
                     <label for="email_address" class="col-sm-4 col-md-3 col-lg-3 control-label">Email: </label>
                     <div class="col-sm-8 col-md-9 col-lg-9">
                     	<div class="form-control overrideit"> {{ form.username }} </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-sm-4 col-md-3 col-lg-3 control-label" for="password">Password: </label>
                     <div class="col-sm-8 col-md-9 col-lg-9">
                     	<div class="form-control overrideit"> {{ form.password }} </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="col-sm-offset-4 col-sm-9 col-md-offset-4 col-md-9 col-lg-offset-4 col-lg-9">
                        <button type="submit" value="login" class="btn btn-block coloredsignin">Sign in</button>
                        <input type="hidden" name="next" value="{{ next }}" />
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>


</form>

{% endblock %}