{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<nav class="navbar navbar-default navbar-static-top" role="navigation">
   <div class="container-fluid">
      <div class="nav-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
          </button>
         <a class="navbar-brand" href="">SEADS</a>
         <a class="navbar-brand" href="">WIKI</a>
      </div>
    
    
   <div class="navbar-collapse collapse navbar-left">
      <ul class="nav navbar-nav">
         <li><a class="navbar-left" href=""><span class="glyphicon glyphicon-dashboard"></span> <b>Dashboard</b></a></li>
      </ul>
   </div>
   
   <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li><a href="#whatis">What is SEADS?</a></li>
        <li><a href="#workingon">What are we working on?</a></li>
        <li><a href="#contributors">Who are we?</a></li>
       
        <li class="signin"><button onclick = "window.location = ''" type="button" class="btn btn-default navbar-btn btn-sm signin actSign">Sign in</button></li>
        <li><button onclick = "window.location = ''" type="button" class="btn btn-default navbar-btn btn-sm signin">Register</button></li>
                   
      </ul>
  </div>
</div>
</nav>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<div class="container-fluid">
         <div class="row redtop">
            <img src="{% static 'images/seadsLogo.png' %}" class="img-responsive center">
            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
               <form name="login_form" class="form-horizontal" action="{% url 'django.contrib.auth.views.login' %}" method="post">
               	{% csrf_token %}
                  <div class="form-group">
                     <label for="email_address" class="col-sm-4 col-md-3 col-lg-3 control-label">Email: </label>
                     <div class="col-sm-8 col-md-9 col-lg-9">
                     	<div class="form-control overrideit"> {{ form.username }} </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-sm-4 col-md-3 col-lg-3 control-label" for="password">Password</label>
                     <div class="col-sm-8 col-md-9 col-lg-9">
                     	<div class="form-control overrideit"> {{ form.password }} </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="col-sm-offset-4 col-sm-9 col-md-offset-4 col-md-9 col-lg-offset-4 col-lg-9">
                        <button type="submit" value="login" class="btn btn-block coloredsignin">Sign in</button>
                        <input type="hidden" name="next" value="{{ next }}" />
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>


</form>

{% endblock %}